<style>
	.f-navbar{
		padding:0 20px 0 20px;
		display:flex;
		flex-wrap:wrap;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		background-color:white; 
		box-shadow:0 0 10px black;
		position:fixed;
		z-index:10;
		top:0;
		left:0;
		width:100%;
		min-height:70px;
		max-height:70px;
		transition-property:all;
		transition-duration:0.1s;
		transition-timing-function:cubic-bezier(0.18, 0.89, 0.32, 1.28)}
	.f-nav-open{
		max-height:1000px;
	}
	.f-show{
		display:block!important;
		height:400px!important;
	}
	.f-navbar-collapse{
		display:none;
		padding-top:50px;
		width:100vw;
		height:0px;
		background-color:#333;
		margin-left:-20px;
		margin-right:-20px;
		transition-property:all;
		transition-duration:1s;
	}
	}
	.f-navlink-wrapper{
		display:flex;
		flex-direction: row;
		justify-content: space-evenly;
	}
	.f-navlink{
		font-weight:bold;
		text-decoration:none;
	}
		.f-navlink{
		cursor:pointer;
		margin:0 5px 0 5px;
		transition-property:all;
		transition-duration:0.1s;
		letter-spacing:1px;
		user-select: none;
	}

	.f-navlink:hover{
		color:#fda000;
	}

	@media only screen and (max-width:615px){
		.f-navlink-wrapper{
			display:none;
		}

	}
	@media only screen and (min-width:615px){
		.fa-bars{
			display:none;
		}
		.f-navbar-collapse{
		display:none!important;
	}
	.f-nav-open{
		max-height:70px!important;
	}
	}
	.f-active{
		color:#fda800!important
	}
	.f-collapse{
		display:none;
	}
	.f-collapse-navlink{
		display:flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		width:100%;
		height:50px;
		color:white;
		font-family:'Bungee',cursive;
		font-size:20px
	}
	.f-collapse-navlink:hover{
		color:#fda800;
	}
</style>
<!-- navbar -->
<div class="f-navbar">
	<div class="f-brand">
		<img class="flippr-logo" src="/assets/flippr.png" alt="" height=130 width=130/></div>
		<i id="f-navbar-menu" style="color:black"class="fa fa-bars"></i>
	<div class="f-navlink-wrapper">
		{{#each navLinks}}
		<a class="f-navlink {{#ifeq key ../section}} f-active {{/ifeq}}" href="{{href}}">{{label}}</a>
		{{/each}}
	</div>
	<div class="f-navbar-collapse">
		{{#each navLinks}}
		<a class="f-collapse-navlink {{#ifeq key ../section}} f-active {{/ifeq}}" href="{{href}}">{{label}}</a>
		{{/each}}
	</div>
</div>
<script type="text/javascript">
	let navbarMenu = document.querySelector('#f-navbar-menu')
	let navbar = document.querySelector('.f-navbar')
	let navbarCollapse = document.querySelector('.f-navbar-collapse')
	navbarMenu.onclick = function(){
		navbar.classList.toggle('f-nav-open')
		navbarCollapse.classList.toggle('f-show')

	}
</script>