<style>
	.f-profile-container{
		padding:150px 50px 20px 100px;
		/* display:flex;
		flex-direction:row;
		justify-content:space-evenly;
		flex-wrap:wrap*/
	}
	.f-profile-stats-section{
		display:flex;
		flex-direction: row;
		align-items: center;
		justify-content:space-between;
		
	}
	.f-profile-avatar{
			display:flex;
			align-items: center;
			justify-content:center;
			min-width:210px;
			height:210px;
			border-radius:100px;
			margin-right:25px;
			box-shadow:0 0 5px black;
			background-size:cover;
			background-position: center;
			background-repeat: no-repeat;
			background-color: #eee;
		}
		.f-avatar-camera-dim{
			display:flex;
			align-items: center;
			flex-direction:column;
			justify-content:center;
			border-radius:100px;
			width:100%;
			height:100%;
			background-color:#fda800;
			opacity:0;
			transition-property:opacity;
			transition-duration:0.5s;
		}
		.f-avatar-camera-dim:hover{
			opacity:0.8
		}

	.f-profile-stats-wrapper{
		display:flex!important;
		flex-direction: row;
		align-items: center;
		justify-content:space-evenly;
	}
	.f-profile-stats-wrapper > * {
		width:150px;
		height:100px;
		margin: 0 5px 0 5px;
		display:flex;
		flex-direction: column;
		align-items: center;
		justify-content:center;
	}

	.f-profile-username{
		flex:1;
		display:flex;
		flex-direction:column;
		align-items:flex-start;
	}
	.f-profile-username > p{
		margin-top:5px;
		font-weight:bold
	}

	@media (min-width:950px){
		.f-profile-username{
		margin-left:40px;
		}
	}

	.f-profile-stats{
		cursor:pointer;
		transition-property:all;
		transition-duration: 0.1s;
	}
	.f-profile-stats:hover{
		transform:scale(1.1);
	}
	.f-profile-stats:hover > .fa-2x{
		color:#fda800!important;
	}
	
	.f-profile-stats-likes{
	
	}
	.f-profile-stats-followers{
		
	}
	.f-profile-stats-following{
		
	}
	.f-profile-stats-count{
		font-weight:bold;
		margin-bottom:-3px;
		color:#ffcc00;
	}
	@media (max-width:950px){
		.f-profile-stats-section{
		flex-direction: column;
		align-items: center;
		justify-content:space-evenly;
	}
		.f-profile-avatar{
			margin-bottom:25px;
			min-width:150px;
			height:150px;
		}

		.f-profile-username{
		font-size: 15px
		}

		.f-profile-username p{
		font-size: 12px
		}
		
		.f-profile-stats-wrapper > * {
			width:90px;
		}

		.f-profile-container{
		padding:100px 20px 20px 20px;
		}
		.fa-2x{
			font-size: 20px;
		}
		.f-profile-stats-description{
			font-size:12px;
			font-weight:bold
		}
	}

	.f-profile-content{
		display:flex;
		flex-direction: column;
		align-items:flex-start
		padding:100px 20px 20px 100px;
	}

	@media (min-width:950px){
		.f-profile-content{
		margin-top:85px
	}
	}

	@media (max-width:950px){
		.f-profile-content{
		margin-top:25px
	}
	}
	.f-collections-wrapper{
		display:flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: nowrap;
		overflow-x: auto;
		padding-top:30px;
		margin-bottom:50px;
	}

	.f-collections-wrapper > * {
		flex:0 0 auto;
		margin-right:10px!important;
		padding:20px
	}


	.f-collections-heading{
		display:flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.f-collections-heading > h1{
		margin-bottom:10px
	}

	.f-search-section{
		display:flex;
		flex-direction:row;
		align-items: center;
		justify-content:space-between;
	}
	.f-search-category{
			color:black!important;
			margin:100px 0 0 100px
		}
	.f-search-bar{
	display:flex;
	height:40px;
	width:250px;
	border: 2px solid #333;
	box-sizing:border-box;
	padding:10px;
	border-radius:30px;
	background-color:#eee
	}

	.f-search-bar > input{
		background-color:#eee
	}
@media (max-width:950px){

	.f-collections-wrapper::-webkit-scrollbar {
    	
    	 -webkit-overflow-scrolling:touch;

  		}

  	.f-collections-wrapper > * {
		
  	}

	.f-collections-heading{
		flex-direction: row;
		flex-wrap: wrap-reverse;
	}
	.f-collections-heading > .f-search-bar{
		flex-basis:100%;
		margin-bottom:30px;
		align-self:center;
	}
	.f-collections-heading > .f-search-bar > input{
		width:100%;
	}
}
.f-collections-stats{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;
	margin-bottom:25px;
}

.f-collection-count{
	font-size:15px;
	font-weight:bold;
	border-radius:50px;
	width:22px;
	height:22px;
	color:black;
	display:flex;
	align-items:center;
	justify-content:center;
	background-color:#fda800;
	align-self:flex-start;
	margin-left:5px;
}


.f-profile-modal-fab{
		box-shadow: 0 0 10px black;
		position:fixed;
		bottom:70px;
		right:10px;
		width:50px;
		height:50px;
		border-radius:50px;
		background-color:black;
		display:flex;
		align-items:center;
		justify-content: center;
		transform:scale(0);
		transition-property:scale;
		transition-duration:1s;
		animation-name:fade-in;
		animation-duration:1s;
		animation-delay: 1s;
		animation-fill-mode:forwards;
	}
	.f-profile-modal-fab:active{
		transform:scale(1.05);
	}

	@keyframes fade-in{
		0%{
			transform:scale(0);
		}
		100%{
			transform:scale(1);
		}
	}

	.f-profile-modal{
		visibility:hidden;
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index:20;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color:rgba(255,255,255,0.9)
	}

	.f-modal-brand{
		margin-top:-50px;
		margin-bottom:50px
	}

	.f-profile-modal-cancel{
		position:absolute;
		top:2%;
		right:2%;
		transform:scale(0.5);
	}
	.f-profile-modal-action-wrapper{
		width:75%;
		display:flex;
		flex-direction:row;
		align-items: center;
		justify-content:center;
		font-family: 'Bungee',cursive;
		margin:10px;
	}
	.f-profile-modal-action-fab{
		box-shadow: 0 0 10px black;
		width:50px;
		height:50px;
		border-radius:50px;
		background-color:black;
		display:flex;
		align-items:center;
		justify-content: center;
		transform:scale(0);
		transition-property:scale;
		transition-duration:1s;
		animation-name:fade-in;
		animation-duration:1s;
		animation-delay: 1s;
		animation-fill-mode:forwards;
	}
	.f-profile-modal-action-fab:active{
		transform:scale(1.05);
	}
	.modal-action{
		display:flex;
		flex-direction:row;
		justify-content:space-between;
		width:250px;
	}


</style>
<div class="f-profile-container">
	 <!--Profile stats and page title-->
	<div class="f-profile-stats-section">
		<div style="background:url('{{userData.avatar}}')" class="f-profile-avatar">
			<div class="f-avatar-camera-dim">
				<i style="color:white" class="fa fa-camera fa-2x"></i>
				<p style="color:white">Change profile pic</p>
			</div>
		</div>
		<div class="f-profile-username">
		<h1>{{userData.username}}</h1>
		<p>Creator of Flippr...Loves bacon</p>
		</div>
		<div class="f-profile-stats-wrapper">
			<div class="f-profile-stats f-profile-stats-likes">
				<i style="color:black" class="fa fa-thumbs-up fa-2x"></i>
				<p class="f-profile-stats-count">300</p>
				<p class="f-profile-stats-description">Likes</p>
			</div>
			<div class="f-profile-stats f-profile-stats-followers">
				<i style="color:black" class="fa fa-users fa-2x"></i>
				<p class="f-profile-stats-count">5501</p>
				<p class="f-profile-stats-description">Followers</p>
			</div>
			<div class="f-profile-stats f-profile-stats-following">
				<i style="color:black" class="fa fa-flag fa-2x"></i>
				<p class="f-profile-stats-count">3214</p>
				<p class="f-profile-stats-description">Following</p>
			</div>
		</div>
	</div>

	<!--Profile content-->
	<div class="f-profile-content">
		
		<div class="f-collections-heading">

		<div class="f-collections-stats">
			<h1>Collections</h1>
			<span class="f-collection-count">
			{{#noOfKeys flashcards}}{{/noOfKeys}}
		</span></div>

		<div  class="f-search-bar">
			<i style="color:black;margin-right:5px" class="fa fa-search"></i>
			<input type="search" placeholder="Search"/>
		</div>

		</div>
	{{#each flashcards}}
		<h2>{{@key}} ({{this.length}})</h2>
		<div class="f-collections-wrapper">
			{{#each this}}
				{{> flip-card}}
			{{/each}}
		</div>
	{{/each}}
		

	</div>
</div>
<div class="f-profile-modal">
	<i class="f-profile-modal-cancel fa fa-times fa-3x"
	 style="color:black" >
	</i>

	<div class="f-brand f-modal-brand">
		<img class="flippr-logo" src="/assets/flippr.png" alt="" height=130 width=130/>
	</div>

	<div class="f-profile-modal-action-wrapper">
		<div class="modal-action">
			<div class="f-profile-modal-action-fab">
				<i style="color:#fda800" class="fa fa-plus"></i>
			</div>
				Edit collections
		</div>
	</div>

		<div class="f-profile-modal-action-wrapper">
		<div class="modal-action">
			<div class="f-profile-modal-action-fab">
				<i style="color:#fda800" class="fa fa-plus"></i>
			</div>
				Add collection
		</div>
	</div>

		<div class="f-profile-modal-action-wrapper">
		<div class="modal-action">
			<div class="f-profile-modal-action-fab">
				<i style="color:#fda800" class="fa fa-plus"></i>
			</div>
				Log out
		</div>
	</div>
</div>
<div class="f-profile-modal-fab">
	<i style="color:#fda800" class="fa fa-plus"></i>
</div>

<script>

	$(document).ready(function(){
		$('.f-collections-wrapper').sortable()
		let flipCards = document.querySelectorAll('.flip-card-inner')
		let searchBar = document.querySelector('.f-search-bar > input')
		let modal = document.querySelector('.f-profile-modal')
		let displayModalfab = document.querySelector('.f-profile-modal-fab')
		let cancelModalFab = document.querySelector('.f-profile-modal-cancel')
		

		displayModalfab.onclick = function(){
		modal.setAttribute('style','visibility:visible')
		}	
		cancelModalFab.onclick = function(){
		modal.setAttribute('style','visibility:hidden')
		}	
	
		flipCards.forEach((card)=>{
			card.addEventListener('click',function(){
			this.classList.toggle('flip')
		})		
	})

	searchBar.onfocus = function(){
		let searchWrapper = document.querySelector('.f-search-bar')
		this.style.backgroundColor = "#fff"
		searchWrapper.setAttribute('style',`border-color:#fda800;
			box-shadow: 0 0 10px #ffc000;background-color:#fff`)
	}
	})

	


</script>
