<style>
	.f-profile-container{
		padding:100px 20px 20px 100px;
		/* display:flex;
		flex-direction:row;
		justify-content:space-evenly;
		flex-wrap:wrap*/
	}
	.f-profile-stats-section{
		display:flex;
		flex-direction: row;
		align-items: center;
		justify-content:space-between;
	}
	.f-profile-avatar{
			display:flex;
			align-items: center;
			justify-content:center;
			min-width:210px;
			height:210px;
			border-radius:100px;
			margin-right:25px;
			box-shadow:0 0 5px black;
			background-size:cover;
			background-position: center;
			background-repeat: no-repeat;
			background-color: #eee;
		}
		.f-avatar-camera-dim{
			display:flex;
			align-items: center;
			flex-direction:column;
			justify-content:center;
			border-radius:100px;
			width:100%;
			height:100%;
			background-color:#fda800;
			opacity:0;
			transition-property:opacity;
			transition-duration:0.5s;
		}
		.f-avatar-camera-dim:hover{
			opacity:0.8
		}

	.f-profile-stats-wrapper{
		display:flex!important;
		flex-direction: row;
		align-items: center;
		justify-content:space-evenly;
	}
	.f-profile-stats-wrapper > * {
		width:150px;
		height:100px;
		margin: 0 5px 0 5px;
		display:flex;
		flex-direction: column;
		align-items: center;
		justify-content:center;
	}

	.f-profile-username{

	}

	.f-profile-stats{
		cursor:pointer;
		transition-property:all;
		transition-duration: 0.1s;
	}
	.f-profile-stats:hover{
		transform:scale(1.1);
	}
	.fa-2x:hover{
		color:#fda800!important;
	}


	.f-profile-stats-likes{
	
	}
	.f-profile-stats-followers{
		
	}
	.f-profile-stats-following{
		
	}
	.f-profile-stats-count{
		font-weight:bold;
		margin-bottom:-3px;
		color:#fda800;
	}
	@media (max-width:950px){
		.f-profile-stats-section{
		flex-direction: column;
		align-items: center;
		justify-content:space-evenly;
	}
		.f-profile-avatar{
			margin-bottom:25px;
		}

		.f-profile-username{
		
		}
		
		.f-profile-stats-wrapper > * {
			width:90px;
		}

		.f-profile-container{
		padding:100px 20px 20px 20px;
		}
		.fa-2x{
			font-size: 20px;
		}
		.f-profile-stats-description{
			font-size:12px;
		}
	}

</style>
<div class="f-profile-container">
	 <!--Profile stats and page title-->
	<div class="f-profile-stats-section">
		<div style="background:url('{{avatar}}')" class="f-profile-avatar">
			<div class="f-avatar-camera-dim">
				<i style="color:white" class="fa fa-camera fa-2x"></i>
				<p style="color:white">change profile pic</p>
			</div>
		</div>
		<h1 class="f-profile-username">{{appUser}}</h1>
		<div class="f-profile-stats-wrapper">
			<div class="f-profile-stats f-profile-stats-likes">
				<i style="color:black" class="fa fa-thumbs-up fa-2x"></i>
				<p class="f-profile-stats-count">300</p>
				<p class="f-profile-stats-description">Likes</p>
			</div>
			<div class="f-profile-stats f-profile-stats-followers">
				<i style="color:black" class="fa fa-users fa-2x"></i>
				<p class="f-profile-stats-count">5501</p>
				<p class="f-profile-stats-description">Followers</p>
			</div>
			<div class="f-profile-stats f-profile-stats-following">
				<i style="color:black" class="fa fa-flag fa-2x"></i>
				<p class="f-profile-stats-count">3214</p>
				<p class="f-profile-stats-description">Following</p>
			</div>
		</div>
	</div>

	<!--Profile content-->
	<div class="profile-content">
		
	</div>

	
</div>